{% extends 'base.html.twig' %}

{% block title %}Poisson Rouge{% endblock %}

{% block body %}


<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>/home/sara/Bureau/poissonRouge/src/Controller/AlgoController.php</code></li>
        <li>Your template at <code>/home/sara/Bureau/poissonRouge/templates/algo/index.html.twig</code></li>
    </ul>
</div>
{% endblock %}
