{% extends 'base.html.twig' %}

{% block title %}Poisson Rouge{% endblock %}

{% block body %}


<div class="d-flex flex-row mt-5">
<div class=" mx-5"> maison 1</div>
<div class=" mx-5">maison 2</div>
<div class=" mx-5">maison 3</div>
<div class=" mx-5">maison 4</div>
<div class=" mx-5">maison 5</div> 
</div>

{{ form_start(form) }}
{{ form_errors(form) }}

{{ form_end(form) }}

{% endblock %}
